#text
{
    z-index:100;
    position:absolute;    
    left:7.5%;
    top:16%;
    font-family: .HelveticaNeueDeskInterface-Regular;
    font-size: 4vmin;
    color: #FFFFFF;
    line-height: 3.5vmin;
    text-shadow: 0px 3px 5px #000000;
    text-align: left;
}

#text2
{
    z-index:100;
    position:absolute;    
    left:70%;
    top:75%;
    font-family: .HelveticaNeueDeskInterface-Regular;
    font-size: 2vmin;
    color: #FFFFFF;
    line-height: 2vmin;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
#title {
    text-align: center;
    color: rgb(126, 211, 33);
    font-family: "HelveticaNeue-Medium";
    font-size: 2.25em;
    position: relative;
    bottom: -10px;
}

#body {
    position: absolute;
    top: 100%;
    width: 100%;
}

#container {
    width: 100%;
    height: auto;
}

#caption {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    width: 80%;
    min-height: 130px;
}

#majorhead {
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 2.25em;
    color: rgb(55, 55, 55);
    position: relative;
    bottom: -10px;
}

#minorhead {
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 1.125em;
    color: rgb(147, 147, 147);
    position: relative;
    bottom: -10px;
}

#addToChrome {
    width: 190px;
    height: 48px;
}

#chromeIcon {
    position: absolute;
    top: 9px;
    left: 12px;
    height: 30px;
    width: 30px;
}

#add {
    font-family: "Helvetica Neue";
    font-size: 1.15em;
    color: rgb(255, 255, 255);
    padding-right: 10px;
    padding-top: 13px;
    padding-bottom: 14px;
    padding-left: 53px;
    position: absolute;
    right: 0;
    text-align: right;
    line-height: 21px;
}

#chromeButton {
    margin: auto;
     width: 190px;
    height: 48px;
    background-color: rgb(126, 211, 33);
    border-radius: 3px;
    position: relative;
    bottom: -20px;
    margin-bottom: 30px;
}

#formButton {
    opacity: 0;
    width: 190px;
    height: 48px;
}

#preview {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    font-family: "Helvetica Neue";
    font-size: 1.125em;
    color: rgb(152, 152, 152);
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
    position: relative;
    font-family: "Helvetica Neue";
    font-size: 1.125em;
    color: rgb(152, 152, 152);
    margin-bottom: 20px;
    bottom: 10px;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:url(Images/APRectangle1.png);
    background-size: cover;
    left: 0;
    top: 0;
    margin-bottom: 50px;
}

/*
@include keyframes(bounce) {
  0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
  40% {
    @include transform(translateY(-30px));
  }
  60% {
    @include transform(translateY(-15px));
  }
}

.bounce {
    @include animation(bounce 2s infinite);
}
*/

.arrow-down {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgba(255,255,255,0.7);
  margin-top: -10px;
  margin-left: -20px;
}

.arrow_pos1 {
  top: 60%;
  left: 50%;
}

.arrow_pos2 {
  top: 40%;
  left: 50%;
}

@-webkit-keyframes flip-in1 {
  0% {
    margin-top: -40px;
    opacity: 0;
  }
  50% {
    margin-top: 0px;
    opacity: 1;
  }
  99% {
    margin-top: 40px;
    opacity: 0;
  }
  100% {
    margin-top: -40px;
    opacity: 0;
  }
}

@-webkit-keyframes flip-in2 {
  0% {
    margin-top: -40px;
    opacity: 0;
  }
  60% {
    margin-top: 0px;
    opacity: 1;
  }
  99% {
    margin-top: 40px;
    opacity: 0;
  }
  100% {
    margin-top: -40px;
    opacity: 0;
  }
}

.arrowflip1 {
  -webkit-animation-name: flip-in1;
  -webkit-animation-duration: 2.0s;
  -webkit-animation-timing-function: cubic-bezier(1,0,0,1);
  -webkit-animation-iteration-count: infinite;
     -moz-animation-name: flip-in1;
     -moz-animation-duration: 2.0s;
     -moz-animation-timing-function: cubic-bezier(1,0,0,1);
     -moz-animation-iteration-count: infinite;
      -ms-animation-name: flip-in1;
      -ms-animation-duration: 2.0s;
      -ms-animation-timing-function: cubic-bezier(1,0,0,1);
      -ms-animation-iteration-count: infinite;
       -o-animation-name: flip-in1;
       -o-animation-duration: 2.0s;
       -o-animation-timing-function: cubic-bezier(1,0,0,1);
       -o-animation-iteration-count: infinite;
          animation-name: flip-in1;
          animation-duration: 2.0s;
          animation-timing-function: cubic-bezier(1,0,0,1);
          animation-iteration-count: infinite;
}
.arrowflip2{
  -webkit-animation-name: flip-in2;
  -webkit-animation-duration: 2.0s;
  -webkit-animation-timing-function: cubic-bezier(1,0,0,1);
  -webkit-animation-iteration-count: infinite;
     -moz-animation-name: flip-in2;
     -moz-animation-duration: 2.0s;
     -moz-animation-timing-function: cubic-bezier(1,0,0,1);
     -moz-animation-iteration-count: infinite;
      -ms-animation-name: flip-in2;
      -ms-animation-duration: 2.0s;
      -ms-animation-timing-function: cubic-bezier(1,0,0,1);
      -ms-animation-iteration-count: infinite;
       -o-animation-name: flip-in2;
       -o-animation-duration: 2.0s;
       -o-animation-timing-function: cubic-bezier(1,0,0,1);
       -o-animation-iteration-count: infinite;
          animation-name: flip-in2;
          animation-duration: 2.0s;
          animation-timing-function: cubic-bezier(1,0,0,1);
          animation-iteration-count: infinite;
}
#arrowHolder {
    position: absolute;
    top: calc(100% - 110px);
    height: 100px;
    left: 0;
    right: 0;
}

#add:hover {
    text-decoration: none;
}}